<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="accountName" value="sharextest"/>
    <add key="containerName" value="samplecontainer1"/>
    <add key="accessKey" value="8v2PtrHQQql70p1oH21khvJBST/3QN0PPePK0Wks92geT8RLYOnZM3+fOdzwPtIA2LPIFjVYkQ2MeOf7XPiRUg=="/>
  </appSettings>
</configuration>